#payment-details {
  padding:10px;
  background-color: rgba(154,154,154, 0.2);
}

#payment-head{
  display:inline-block;
}

#security{
  font-style: italic;
  color:rgb(154,154,154);
  margin-left: 28%;
  font-size:11px;
}

.shipping-cost{
  margin-left: 17%;
  font-size:11px;
}

.form-control{
  margin: 5px;
  border-radius: 0px;
}

.extra-info{
  display:inline-block;
  padding:10px;
}

a{
  cursor: pointer;
  color: #E83996;
  margin: 5px 9px;
  font-size:11px;
}

.est-arrival{
  color:rgb(154,154,154);
  font-style: italic;
  font-size: 10px;
}

#city {
  width:49%;
  margin:-5px 0px 0px 5px;
}

#state{
  margin: -5px 0px 0px 0px;
  width:49%;
}

.valid-check{
  border-color:green;
}

.email-check{
  margin-top: 11.5%;
  margin-right:3%;
  color:green;
  visibility: hidden;
}

.phone-check {
  margin-top:20%;
  margin-right:3%;
  color:green;
  visibility: hidden;
}

.valid {
  visibility: visible !important;
}

#date {
  width:32%;
  margin:0px 0px 0px 5px;
}

#month, #year {
  margin: 0px;
  width:32%;
}

label {
  margin-left: 5px;
}

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    transition: all 0.15s ease;
}

[tooltip]:hover:before {
    opacity: 1;

    background: black;
    padding:8px;
    color:white;
    margin-left: 120px;
    border-radius: 5px;
}

#cc{
  position:relative;
  top:10px;
}

#credit-card {
  width:95%;
}

#logo {
  height: 50px;
  padding:10px;
}

#paypal {
  height: 50px;
  margin-top:2%;
  margin-left:2%;
}

.security-seal{
  padding:3px;
  height:49px;
  margin-top:2.9%;
}

#cc-month, #cc-year {
  margin-left: 0px;
  margin-right:0px;
}

#merch {
  height:470px;
  margin-top:3%;
  margin-left:3%;
  position:fixed;
}

/*mobile responsive*/

@media screen and (max-width: 768px){
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #merch {
    visibility: hidden;
  }

  #date, #month, #year {
    display: inline-block;
    width:31%;
  }

  #city, #state {
    display:inline-block;
    width:48%;
  }

  #security {
    margin:0px;
    padding:10px 10px 10px 25px;
  }

  #cc-month, #cc-year {
    display: inline-block;
    width:48%;
  }

  .s-code {
    width:46%;
  }

  #cc {
    margin-left:40%;
    margin-right:40%;
  }

  #paypal {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .security-seal{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .email-check{
    margin-top:10%;
  }
}

@media screen and (max-width: 320px){
  #cc {
    position: relative;
    top:-65px;
    left:20px;
  }

  .phone-check{
    margin-top:26%;
  }
}
